@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Open+Sans&display=swap');

:root{
    --mainBg: #222;
}


body{
    font-size: 16px;
    font-family: 'Finger paint', cursive;
    background-color: #222;
    color: #fff;
    text-align: center;
}

#logo{
    margin: 2vh auto;
}

#logo img{
    height: 20vmin;
    width: auto;
    margin: 0;
}

#logo h1{
    clear: both;
    color: #fff;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
}

h3{
    font-size: 1.25rem;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: rgba(252, 252, 0, 0.87);
    text-decoration: none;
}

#nav-break-bar{
    margin: 0 auto;
    padding: 0;
    border-top: 3px solid #fff;
    width: 80vw;  
}

#main-nav{
    margin: 1% auto;
    text-align: center;
    width: 100vw;  
}

#main-nav button{
    color: #fff;
    margin: 0 auto;
}

#nav-list{
    width: 90vw;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;;
    
}

#nav-list li{
    display: inline;
    padding: 2%;
    width: 30vw;
}

#nav-list li:hover{
    border-bottom: 2px solid rgba(252, 252, 0, 0.87);
}

#gameboard{ 
    margin: 1vh auto;
    height: 50vh;
    width: 90vw;
}

.gametile{
    position: relative;
    height: 20vmin;
    width: 20vmin;
    line-height: 20vmin;
    background-color: #44445a;
    color: white;
    text-align: center;
    font-size: 0em;
    border: 2px solid #55555a
}

.gametile-overlay::after{
    content: "\2713";
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 128, 0, 0.8)
}

#game-settings-label{
    margin: 0 auto;
    background-color: #6d136d;
    padding: 1%;
}

#game-settings,.show{
    padding-left: 0px;
    padding-right: 0px;
}

.card-body{
    color: #fff;
    background-color: rgba(109, 19, 109, 0.5);
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#timer, #score, #clicks{
    height: 3.125rem;
    margin-bottom: 5%;
    padding: 2%;
}

#timer div, #score div, #clicks div{
    margin: 0 auto;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #222;
    background-color: #f5f5f5;
    border: 3px solid #555;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.label{
    margin-top: 1.25rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.label h3{
    font-size: 1.25rem;
}

.btn{
    text-align: center;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.25rem;
}

.displayTile{
    font-size: 2rem;
}

.hideTile{
    font-size: 0rem;
    background-color: #44445a;
}

.correctAnswer{
    background-color: #008000;
}

.falseAnswer{
    background-color: #ff0000;
}

li{
    line-height: 2rem;
}

#rules-container h3{
    margin: 1rem auto;
}

#rules-container h3:last-of-type{
    margin-top: 2rem;
}

.show-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#scoreboard{
    
    height: 80vmin;
    color: #222;
    background-color: #f5f5f5e7;
    border: 3px solid #555;
}

.current-score{
    color: #008000;
    font-weight: 700;
}

.top-score{
    color: #ffc107;
    font-weight: 700;
}

/* Rules.html */

.section-heading{
    color: #fff;
    background-color: var(--mainBg);
    border: 2px solid #fff;
    margin-top: 2vh;
}

.section-body{
    color: var(--mainBg);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #fff;
    padding: 1rem 0;
}

.section-body ul{
    list-style-type: none;
}


/* Animations */
 .wiggle {
        animation: wiggle-animation 0.5s infinite;
        display: inline-block;
    }

    @keyframes wiggle-animation {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(4deg);
        }
        50%{
            transform: rotate(8deg)
        }
        75% {
            transform: rotate(4deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }


@media screen and (min-width: 600px){

  h1{
      font-size: 3rem;
  }

  .displayTile{
    font-size: 2.5rem;
}

  .h3{
        font-size: 2rem;
  }

  .btn{
      font-size: 2rem;
  }

  #timer, #score, #clicks{
    height: 5rem;
}

  #timer div, #score div, #clicks div{
      height: 5rem;
      line-height: 5rem;
      font-size: 2rem;
  }

  #scoreboard h3 {
      font-size: 2rem;
  }

  #scoreboard p {
      font-size: 1.4rem;
  }
} 

@media screen and (min-width: 800px){

    #logo img{
        height: 6rem;
        width: auto;
    }

    #logo h1{
        font-size: 2.6rem;
    }

    h3{
        font-size: 2.2rem;
    }

    a{
        font-size: 1.8rem;
    }

    #gameboard{
        width: calc(20vmin * 4);
        height: calc(20vmin * 4);
    }

    .btn{
      font-size: 2.5rem;
  }

  .displayTile{
    font-size: 3rem;
  }

  #scoreboard p {
      font-size: 1.6rem;
  }
}

@media screen and (max-width: 376px){
    #score, #score-label{
        display: none;
    }
}